body{
    background: azure;
}

.col-md-4{
    padding: 15px;
}

.box {
    weight: 4rem ;
    height: 3rem;
}

.border {
    background: white;
    margin-top: 1rem;
}

.topic{
    font-size: 2rem;
    height:3rem;
  /*  width: ; */
    background: #5A6268;

}

.newitem{
    margin-top: 1rem;
    text-align: center;
}

.edit-news {
    margin: 1rem;
}

.btn{
    margin-bottom: 1rem;
}

.news-text {
    text-align: justify;
}